img {
    height: 150px;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #a3b18a;
    ;
}

.cartWrapper {
    margin: 0;
    padding: 20px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.cartCard {
    background: white;
    padding: 20px;
    text-align: center;
}

.btn {
    border: none;
    outline: none;
    background: red;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #513282;
}